public-hoist-pattern[] = *drizzle*
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=6sBVxOI9EFL/S6ExVuwr9jZHFvuKeGinfI9CXKdYMUWwwcynAb3BQlu90wdb2gFI